@import 'utils';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
  

header {
    height: 100vh;
    color: white;
    background: url('https://images.pexels.com/photos/1752757/pexels-photo-1752757.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .5);
        left: 0;
        top: 0;
        z-index: -1;
    }

    #navigation{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-top: 2rem;
        

        li {
            a {
                color: white;
                display: inline-block;
                margin-right: 2rem;
                
                
            }
        }
        
    } 

    .titre-site {
        text-align: center;
        margin-top: 15rem;
        font-size: 4rem;
        letter-spacing:3px;
        text-transform: uppercase;
    }

}